extends ../shared/template

block content

    h2 Items

    table
      th Name
      th Length
      th Width
      th Height
      th Weight
      th Color
      th Quantity
      th MSRP
      th Percent Off
      each item in items
        ul
        tr(style='background-color:#{item.color};')
          td: a(href='/items/#{item._id}')= item.name
          td= item.dimensions.l
          td= item.dimensions.w
          td= item.dimensions.h
          td= item.weight
          td= item.quantity
          td= item.msrp
          td= item.percentOff
          td= item.cost()

